version: '3.4'

services:
  consolesample:
    image: ${DOCKER_REGISTRY-}powerbot
    build:
      context: .
      dockerfile: ConsoleSample/Dockerfile
    expose:
        - "80"
    ports:
        - "80:80"
