@inherits LayoutComponentBase
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration;
<RadzenNotification />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if (_configuration["password"] != null)
            {
                <div>
                    <a href="/logout">Logout</a>
                </div>
            }
            <a href="https://github.com/awitwicki/PowerBot" target="_blank">
                <img class="img-logo" src="github-mark.png" />
            </a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
