@page "/"
@using PowerBot.Core.Managers


<h1>PowerBot</h1>

<b>@todayCount</b> bot actions was today.


<SurveyPrompt Title="How is Blazor working for you?" />

@code {

    public int todayCount;

    protected override async Task OnInitializedAsync()
    {
        var stats = await StatsManager.GetStats(DateTime.Today, DateTime.Today.AddDays(1));

        todayCount = stats.Count;
    }
}
